<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scénart{% endblock %}</title>

    {% block favicon %}
        <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon.png') }}">
    {% endblock %}

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body data-turbo="false">

{% block body %}{% endblock %}

<div id="toast-container" class="toast-container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <twig:Alert type="{{ label }}" message="{{ message }}" />
        {% endfor %}
    {% endfor %}
</div>

</body>
</html>
