{% trans_default_domain 'website' %}

<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-content">
            {# Colonne 1 #}
            <div class="footer-column">
                <h4>{{ 'footer.produit.title_section'|trans }}</h4>
                <a href="#">{{ 'footer.produit.features'|trans }}</a>
                <a href="{{ path('app_pricing', {_locale: app.request.locale}) }}">{{ 'footer.produit.pricing'|trans }}</a>
                <a href="{{ path('app_examples', {_locale: app.request.locale}) }}">{{ 'footer.produit.examples'|trans }}</a>
            </div>

            {# Colonne 2 #}
            <div class="footer-column">
                <h4>{{ 'footer.resort.title_section'|trans }}</h4>
                <a href="{{ path('app_documentation', {_locale: app.request.locale}) }}">{{ 'footer.resort.documents'|trans }}</a>
                <a href="#">{{ 'footer.resort.template'|trans }}</a>
                <a href="#">{{ 'footer.resort.tutorial'|trans }}</a>
            </div>

            {# Colonne 3 #}
            <div class="footer-column">
                <h4>{{ 'footer.legal.title_section'|trans }}</h4>
                <a href="{{ path('app_legal_cgu', {_locale: app.request.locale}) }}">{{ 'footer.legal.cgu'|trans }}</a>
                <a href="{{ path('app_legal_privacy', {_locale: app.request.locale}) }}">{{ 'footer.legal.conf'|trans }}</a>
                <a href="{{ path('app_legal_cookies', {_locale: app.request.locale}) }}">{{ 'footer.legal.cookies'|trans }}</a>
                <a href="{{ path('app_contact', {_locale: app.request.locale}) }}">{{ 'footer.legal.contact'|trans }}</a>
                <button type="button"
                        class="footer-cookie-btn"
                        onclick="document.dispatchEvent(new CustomEvent('consent:manage'))">
                    {{ 'footer.legal.manage_cookies'|trans }}
                </button>
            </div>
        </div>
    </div>

</footer>
