{# templates/website/_partials/_navbar.html.twig #}
{% trans_default_domain 'navbar' %}

<div class="top-banner">
    <p>
        {% if app.user %}
            {{ ux_icon('lucide:rocket', { class: 'icon-xs icon-primary' }) }}
            {{ 'banner.user'|trans }}
            <a href="{{ path('app_workshop_dashboard') }}" data-turbo="false">{{ 'banner.user_link'|trans }}</a>
        {% else %}
            {{ ux_icon('lucide:sparkles', { class: 'icon-xs icon-primary' }) }}
            {{ 'banner.guest'|trans }}
            <a href="{{ path('app_login') }}">{{ 'banner.guest_link'|trans }}</a>
        {% endif %}
    </p>
</div>

<nav class="main-nav">
    <div class="nav-container">
        <a href="{{ path('app_home') }}" class="logo-text">SCÉN<span class="highlight">ART</span></a>

        <ul class="nav-links">
            <li>
                <a href="{{ path('app_home') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
                    {{ 'links.home'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_examples') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_examples' ? 'active' : '' }}">
                    {{ 'links.examples'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_pricing') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_pricing' ? 'active' : '' }}">
                    {{ 'links.pricing'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_contact') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_contact' ? 'active' : '' }}">
                    {{ 'links.contact'|trans }}
                </a>
            </li>
        </ul>

        <div class="nav-actions">
            {% if app.user %}
                <a href="{{ path('app_workshop_dashboard') }}" class="btn-atelier" data-turbo="false">
                    {{ 'actions.workshop'|trans }}
                    {{ ux_icon('lucide:arrow-up-right', { class: 'icon-xs icon-inline' }) }}
                </a>
                <twig:UserProfile />


            {% else %}
                <a href="{{ path('app_login') }}" class="btn-login">{{ 'actions.login'|trans }}</a>
                <a href="{{ path('app_login') }}" class="btn-atelier">{{ 'actions.register'|trans }}</a>
            {% endif %}
        </div>
    </div>
</nav>
